*{
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all 0.3s ease;
}

body{
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-180deg, crimson, black);
    padding: 10px;
}
.container{
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 9px 19px 9px rgba(0,0,0,0.72); 
box-shadow: 4px 9px 19px 9px rgba(0,0,0,0.72);
}
.container h1{
    font-size: 25px;
    font-weight: 500px;
    text-align: center;
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .input-box{
    width:  calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.user-details .input-box .det{
    font-weight: 500px;
    margin-bottom: 5px;
    font-size: 18px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.user-details .input-box input:hover{
    box-shadow: 0 0 10px  rgb(0, 0, 0);  
}
.user-details .input-box input:focus{
    border-radius: 10px;
}
.gender-title{
    font-size: 20px;
    font-weight: 500px;
}
.gender{
    width: 50px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.button a{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    background: none;
    padding: 12px 36px;
    font-size: 17px;
    border-radius: 6px;
    transition: all 0.3s ease;
    display: flex;
    width: 250px;
    margin-left: 180px;
}
.button :hover{
    color: rgb(255, 255, 255);
    background-color: crimson;
    transition: 0.6s ease;
    border-color: rgb(0, 0, 0);
    box-shadow: 0 0 8px rgb(0, 0, 0);
    border-radius: 15px;
}









@media  (max-width:682px){
    .button a{
        margin-left: 160px;
    }
      
}
@media  (max-width:645px){
    .button a{
        margin-left: 140px;
    }
      
}
@media  (max-width:610px){
    .button a{
        margin-left: 120px;
    }
      
}
@media  (max-width:578px){
    .button a{
        width: 220px;
        font-size: 15px;
    }
    @media  (max-width:578px){
        .button a{
            margin-left: 100px;
        }
    }
    @media  (max-width:510px){
        .button a{
            margin-left: 80px;
        }
    }
}